/**
 * User: manuelmeister
 * Date: 20.01.14
 * Time: 13:58
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
    background-color: #c6c6c6;
    font-family: 'Open Sans', sans-serif;
}

nav {
    color: #757575;
    margin-bottom: 10px;

}

p{
    text-align: left;
    font-weight: 200;
}

h1 {
    font-size: 64px;
    font-weight: 600;
    margin: 10px 0;
    text-decoration: none;
    color: #000000;
    text-decoration-line: none;
}

h2 {
    margin: 0;
    padding-bottom: 10px;
}

h3{
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    background-color: #000;
    width: 960px;
    height: 42px;
}

nav ul li {
    float: left;
    margin: 0;
    list-style-type: none;
    position: relative;
    display: block;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 11px 5px 11px 5px;
    height: 20px;
    display: inline-block;
    transition: 0.2s all;
}

nav ul li a:hover {
    background-color: #404040;
}

nav ul li a:first-child {
    padding-left: 10px;
}

nav ul li a:last-child {
    padding-right: 10px;
}
table {
    border-collapse: collapse;
    border: none;
}

th {
    background-color: #c6c6c6;
    border-color: #c6c6c6;
    padding: 5px;
}

td {
    border-color: #c6c6c6;
    padding: 5px;
}

td strong {
    color: red;
    font-weight: 600;
}

#container {
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    width: 960px;
    background-color: #fff;
}

#add {
    padding: 10px;
    background: #cbcbcb;
}

#form {
    display: flex;
}

#logo {
    text-decoration: none;
}

.entry {
    margin-top: 10px;
    padding: 10px;
    background: #e1e1e1;
    position: relative;
}

.right {
    float: right;
}

.error {
    background: #ff543c;
    color: #ffffff;
}

.hidden {
    display: none;
}

.red {
    background-color: #ffaba3;
}

.actions {
    float: right;
    opacity: 0.5;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.actions:hover{
    opacity: 1;
}

input[type="text"],input[type="password"],input[type="submit"]{
    height: 24px;
    margin: 6px 2px;
    padding: 3px;
    border: none;
}

input[type="submit"]{
    width: 217px;
    height: 32px;
    -webkit-appearance: none;
    background-color: #282828;
    transition: 0.5s all;
    color: white;
    border: none;
    border-radius: 2px;
    font-size: 14px;
    padding: 0;
}

input[type="submit"]:hover{
    background-color: #535353;
}

#form input[type="text"]{
    height: 32px;
    -webkit-appearance: none;
    background-color: #ffffff;
    color: #000000;
    border: none;
    margin-right: 5px;
    padding: 0 5px;
    font-size: 14px;
}

#form input[type="submit"]{
    height: 32px;
}

#login input[type="submit"]{
    width: 75px;
    height: 30px;
    margin: 6px 2px;
    margin-right: 5px;
    background: #505050;
    font-size: 12px;
}

.tools{
    position: absolute;
    top: 10px;
    right: 10px;
}

.tools form {
    display: inline-block;
}

.tools input{
    background-size: 24px;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    opacity: 0.5;
    margin:0;
    padding: 0;
}

.tools input[type="submit"]:hover{
    opacity: 0.8;
    background-color: transparent;

}

.edit {
    background-image: url(img/edit-512.png);
}

.delete {
    background-image: url(img/delete-512.png);
}


.registerform {
    width: 250px;
    margin: auto 0;
}

.searchfrom input[type="text"]{
    width: 75%;
}

.field__label{
    width:100px;
    display: inline-block;
}