<div class="entry">
    <div class="tools {TOOLS_VISIBILITY}">
        <form action="../edit.php" method="post">
            <input name="id" value="{ENTRY_ID}" type="hidden">
            <input type="submit" name="edit" value="" class="edit">
        </form>
        <form action="../index.php" method="post">
            <input name="id" value="{ENTRY_ID}" type="hidden">
            <input type="submit" name="delete" value="" class="delete">
        </form>
    </div>
    <h3><a href="post.php?id={ENTRY_ID}">{ENTRY_TITLE}</a></h3>
    <p class="date">{ENTRY_DATE} von <a href="user-overview.php?user={ENTRY_USER}">{ENTRY_USER}</a></p>

    <p>{ENTRY_CONTENT}</p>
</div>